<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" th:src="@{/js/manifest.js?7fba2c56a49fa61398f2}"></script>
<script type="text/javascript" th:src="@{/js/vendor.js?cd9dc73d4d76ce569f72}"></script>
<script type="text/javascript" th:src="@{/js/index.js?9e496a3d0ef2c4d0238b}"></script>
</body>
</html>